aclocal.m4
autom4te.cache
build
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
.deps
frag.spv
frag.xxd
INSTALL
install-sh
.libs
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
vert.spv
vert.xxd
yagears
yagears-gui
yagears-mosaic
yagears-vk
*.la
*.lo
*.o
