aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
.deps
INSTALL
install-sh
.libs
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
yagears
yagears-gui
yagears-mosaic
*.la
*.lo
*.o
